/* Add your own custom styles here */
.about-name {
    animation: flipInX 1s both;
    animation-delay: 0.5s;
}

.plinked {
    & a {
        color: rgb(129, 52, 188);
    }
}

ul.home-ulist {
    /* list-style-type: disc; */
    list-style-position: inside;
}