

{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 md:col-12 mb-8 flex">
            <div class="flex-shrink-0 mr-2">
              {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "sm:!max-w-[290px] md:!max-w-[290px] lg:!max-w-[340px] xl:!max-w-[340px]" "DisplayXL" "800x") }}
            </div>
            <div class="ml-4 mt-12 xl:pr-40 lg:pr-20">
              <h1 class="mb-4 text-h3 lg:text-h1">
                {{ .title | markdownify }}
              </h1>
              <p class="mb-1">
                {{ .content | markdownify }}
              </p>
            </div>
          </div>  {{ with .skillpoints }}
            {{ if .enable }}
              <div class="row">
                <div class="md:col-4 text-center mb-6">
                  <h5 class="h5 font-primary">
                    {{ .skill1.title | markdownify }}
                  </h5>
                  <p class="mb-1">
                    {{ .skill1.description | markdownify }}
                  </p>
                </div>
                <div class="md:col-4 text-center mb-6">
                  <h5 class="h5 font-primary">
                    {{ .skill2.title | markdownify }}
                  </h5>
                  <p class="mb-1">
                    {{ .skill2.description | markdownify }}
                  </p>
                </div>
                <div class="md:col-4 text-center mb-6">
                  <h5 class="h5 font-primary">
                    {{ .skill3.title | markdownify }}
                  </h5>
                  <p class="mb-1">
                    {{ .skill3.description | markdownify }}
                  </p>
                </div>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
      <div class="container">
        <div class="row items-center justify-between">
          <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-6 text-center">
            <h2 class="mb-4">
              {{ .title | markdownify }}
            </h2>
            {{ range $j, $f:= .sections }}
              <div class="flex-shrink-0 mr-2">
                {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "sm:!max-w-[290px] md:!max-w-[290px] lg:!max-w-[340px] xl:!max-w-[340px]" "DisplayXL" "800x") }}
              </div>
              {{ range $k, $m:= .paragraphs }}
                <p>
                  {{ .title | markdownify }}
                </p>
                <p>
                  {{ .description | markdownify }}
                </p>
              {{ end }}
            {{ end }}
          </div>
          
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->

{{ end }}
